 <!--inés de la cal perez-->
{% extends "inicio.html" %}

{% block title %}
    <title>Mi home</title>
{% endblock %}

{% block content %}
    <style>
        body {
            background-color: #e0f7fa; /* Fondo turquesa pastel */
            color: #00796b; /* Texto en azul */
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            color: #00796b;
        }
        p {
            margin: 20px auto;
            width: 80%;
            line-height: 1.6;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        nav {
            background-color: #b2ebf2;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 15px;
        }
        nav ul li a {
            text-decoration: none;
            color: #00796b;
        }
        nav ul li a:hover {
            text-decoration: underline;
        }
    </style>
    <h1>Proyecto Final Sistemas de Gestión Empresarial-Cide</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dictum metus. Morbi gravida, quam sit amet dapibus venenatis, lorem ipsum ultrices lorem, nec varius ligula est non velit. Fusce a orci id nunc efficitur condimentum. Mauris in felis eget dolor blandit fringilla non ut erat. Suspendisse potenti. Quisque vehicula urna at libero dignissim, ac bibendum leo ultrices. Sed ultricies nulla at fermentum cursus. Nunc tempor lectus nec ullamcorper varius. Integer maximus accumsan leo, ac efficitur eros feugiat non. Praesent non odio eget magna convallis pellentesque.
    </p>
    <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam erat volutpat. Donec id convallis nulla, ut consequat est. Integer viverra nisi non metus condimentum, ac hendrerit lectus interdum. Curabitur nec felis nec sem egestas volutpat. Aliquam erat volutpat. Sed vulputate arcu vitae urna feugiat, in dictum mauris iaculis. Aenean lacinia magna vel urna suscipit, non fermentum libero venenatis.
    </p>
{% endblock %}
